config WIFI_SSID
    string "WiFi SSID to connect to"
    help
        The WiFi SSID that the board will connect to. 

config WIFI_SECURITY
    int "wifi.h wifi_security_type"
    default 0
    help
        "see zephyr/net/wifi.h enum wifi_security_type. Default 0 (no security)"

config WIFI_PSK
    string "WiFi password"
    depends on WIFI_SECURITY != 0
    help
        The WiFi password that the board will use to connect to the WiFi network.

config SENSOR_SAMPLE_RATE
    int "Sensor sample wait time"
    default 10
    help
        The time to wait between sensor samples, in seconds.

config SENSOR_READ_ALL_CHANNELS
    bool "Read temperature and humidity channels at the same time"
    default y
    help
        If enabled, the driver will read both temperature and humidity channels in a single I2C transaction (faster). 

config SMTP_SECRET
    string "SMTP password for sending emails"
    help
        The SMTP password that the board will use to send emails via SMTP.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"