config AM2320
    bool "ASAIR AM2320 Temperature and Humidity I2C sensor"
    default y
    select I2C
    
config AM2320_DO_CRC
    bool "Enable CRC check for AM2320 sensor readings"
    default y
    help
        If enabled, the driver will perform a CRC check on the sensor readings to verify data integrity.